:root {
  --bg-main: #0d1b2a;
  --bg-soft: #1b263b;
  --bg-card: #112031;

  --accent: #33cce6;

  --text-main: #e8e8e8;
  --text-light: #bfc8d0;

  --border: #253447;

  --radius: 8px;
  --transition: 0.2s ease;
}
